.about {
    background-color: var(--bg-main-grey);
    padding: 60px 30px 100px;
    text-align: center;
    color: var(--color-main-black);
}

.about__title {
    font-size: 34px;
    font-weight: 700;
    line-height: 40px;
    margin: 0 0 42px 0;
}

.about__subtitle-ru,
.about__subtitle-en {
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    margin: 0 auto 15px;
    max-width: 780px;
}

.about__description-ru,
.about__description-en {
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    margin: 0 auto 15px;
    text-align: justify;
    max-width: 780px;
}

.about__subtitle-en {
    margin: 15px auto 15px;
}

@media (max-width: 480px) {

    .about__subtitle-ru,
    .about__subtitle-en {
        font-size: 14px;
        line-height: 16px;
    }

    .about__description-ru,
    .about__description-en {
        font-size: 14px;
        line-height: 16px;
    }
}